@using System.Globalization;
@model IList<support_tracker.Models.Message>

@{
    Layout = null;
}
<link href="~/Content/MessageList.css" rel="stylesheet">

<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div class="msg_history">
                    @if (Model == null || Model.Count == 0)
                    {
                        <div class="text-center p-5">
                            <b>There are no messages</b>
                        </div>
                    }
                    else
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            @{
                                                Html.RenderPartial("MessagePartial", Model[i]);
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="outgoing_msg pr-2">
                                    <div class="sent_msg">
                                        @{
                                            Html.RenderPartial("MessagePartial", Model[i]);
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="type_msg m-2">
                    <div class="input_msg_write">
                        @{
                            Html.RenderAction("CreateMessage", "Message", new { ticketId = ViewBag.TicketId });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>